<h1>New Todo</h1>

<div class="buttons-container">
  <%= form_with model: @todo, id: "new-todo-form" do |form| %>
    <%= form.text_field :description %>
    <%= form.submit "Add new todo" %>
  <% end %>
</div>
