nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav button {
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(84, 188, 84);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
}
